.profile {
  position: relative;
}

.profile__closeIcon {
  cursor: pointer;
  position: absolute;
  left: 0;
}

.form {
  padding-top: 100px;
}

.form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__label--username {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

#username {
  /* height: 40px; */
  font-size: 24px;
  /* width: %; */
  background-color: transparent;
  border: none;
  border-bottom: 1px solid darkblue;
  color: white;
}

#username:focus {
  outline: none;
}

.button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: lightskyblue;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
