.calorieTracker {
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.calorieTracker__closeIcon {
  cursor: pointer;
  position: absolute;
  left: 0;
}

.calorieTracker > h1 {
  margin-top: 100px;
}

.calorieTracker > p {
  margin-bottom: 50px;
}

.calorieTracker > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input--containers {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.input--containers > input {
  font-size: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid darkblue;
  color: white;
}

.button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: lightskyblue;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calories {
  font-size: 36px;
  font-weight: bold;
}
