.error-info {
  padding: 15px;
}
.weather {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  padding-right: 20px;
  padding-left: 20px;
}

.weather__containerOne {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.weather__containerOne > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.locationIcon {
  font-size: 70px;
  color: #f1f1f1;
}

.city {
  color: #f1f1f1;
  font-size: 2rem;
  line-height: 1.3;
}

.city--unknown {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  color: red;
}

.currentWeather {
  font-size: 60px;
  color: #f1f1f1;
  text-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.weather__containerTwo {
  display: flex;
  flex-direction: column;
}

.weather__containerTwo--containerOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f1f1f1;
}

.weather__containerTwo--containerTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.weather__containerTwo--containerTwo > h1 {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #f1f1f1;
  font-style: italic;
}

.weather__containerTwo--containerThree {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weather--info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #f1f1f1;
}

.bikeIcon {
  font-size: 50px;
}

.weatherIcon {
  font-size: 200px;
}

.hourlyWeatherContainer {
  overflow-x: scroll;
  margin-top: 20px;
}

.hourlyWeatherContainer::-webkit-scrollbar {
  height: 7px;
}

.hourlyWeatherContainer::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px;
}

.hourlyWeatherContainer > div {
  display: flex;
}

.hourlyWeather {
  flex-shrink: 0;
  padding: 10px;
  color: #f1f1f1;
}
