.header {
  background-color: white;
  color: black;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid black;
}

.menuIcon,
.addIcon {
  cursor: pointer;
}
