.changeLocation {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.changeLocation__input {
  font-size: 19px;
  border: none;
  color: black;
}

.changeLocation__input:focus {
  outline: none;
}

.changeLocation__button {
  padding: 4px 10px;
  background-color: white;
  color: #1d71f2;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
